RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ Public/index.php [QSA,L] # On any directory redirect to Public/index.php
RewriteRule ^ Public/index.php [QSA,L] # On '/' route redirect to Public/index.php


 